
@model EmployeeInfoManagement.Models.Employee
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
@{
    ViewData["Title"] = "Add Employee";
}
<style>
    .form-control {
        width: 70%; 
    }

    form {
        max-width: 500px;
        margin: 0 auto; 
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    h2 {
        text-align: center; 
    }
</style>
<h2> Add New Employee</h2>
<form method="post" action="InsertEmployee">
    <div>
        <label>First Name: </label>
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Last Name: </label>
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>


    <div>
        <label>Email: </label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>Phone: </label>
        <input type="number" class="form-control" asp-for="Phone" maxlength="10" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div>
        <label>Department: </label>
        <input type="text" class="form-control" asp-for="Department" maxlength="10" />
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>

    <div>
        <label>Hire Date: </label>
        <input type="date" class="form-control" asp-for="HireDate" placeholder="dd/mm/yyyy" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>

</form>